* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.contain {
  padding: 0 3rem;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.header-top a {
  text-decoration: none;
  margin-right: 0.5rem !important;
  font-size: 14px;
  color: #666;
  background-color: transparent;
  font-weight: 300;
}
.karyera {
  border: 1.5px solid #0056c1;
  border-radius: 40px;
  color: #0056c1 !important;
  display: inline-block;
  font-weight: 500;
  padding: 6px 12px;
  line-height: 1.15;
}
.karyera:hover {
  background-color: #0056c1 !important;
  color: #fff !important;
  text-decoration: none !important;
}
.top-right .search-logo {
  color: #b5b5b5;
  font-family: sf_pro_display, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 100;
  line-height: 1.15;
}
.top-right .search-text {
  font-size: 15px;
  color: #666 !important;
  margin-left: 0.5rem !important;
  font-style: normal;
  font-weight: 300;
  line-height: 1.15;
}

.top-right select,
#phone-header select {
  color: #666;
  border: 0px;
  outline: 0px;
  margin-left: 10px;
  background-color: #f6f7f8;
}
.top-right .phone-logo {
  height: 12px;
  width: 12px;
  color: #666 !important;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.15;
  margin-left: 10px;
}
.top-right .phone-num {
  font-size: 14px;
  font-weight: 600;
  margin-left: 0.25rem !important;
  color: #666 !important;
}
#header-top {
  background-color: #f6f7f8;
}
.header-center {
  display: flex;
  justify-content: space-between;
  align-items: center;  
}
.cenert-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cenert-left img {
  height: 90px;
  width: 210px;
  margin-right: 50px;
}
.cenert-left .frist-a {
  font-weight: 500;
  color: #262626;
  font-size: 16px;
  font-style: normal;
  padding: 0 15px;
  text-decoration: none;
}
.second-a,
.thrid-a {
  font-weight: 500;
  color: #666666;
  font-size: 16px;
  font-style: normal;
  padding: 0 15px;
  text-decoration: none;
}
.cenert-left .frist-a::after {
  color: #262626;
  content: "/";
  cursor: default;
  font-size: 18px;
  height: 20px;
  margin-left: 20px;
  width: 5px;
}
.cenert-left .second-a::after {
  color: #666666;
  content: "/";
  cursor: default;
  font-size: 18px;
  height: 20px;
  margin-left: 20px;
  width: 5px;
}
.center-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.center-right a {
  text-decoration: none;
}

.center-right .center-text {
  font-size: 18px;
  color: #007aff;
  line-height: 1.15;
  margin-left: 10px;
}
.center-right i {
  font-size: 24px;
  color: #007aff;
}
.header-bottom a {
  text-decoration: none;
  color: #17253a;
  font-size: 16px;
  margin-right: 20px;
}
.header-bottom {
  padding: 1.5rem 0;
  background-color: #f6f7f8;
}
#order{
  background: linear-gradient(90deg, #e1ebff 9.88%, #afb9cd 92.09%);
  padding: 1rem 0 0;
}
.order-all {
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}

.order-text {
  padding-left: 5rem;
}
.order-text h3 {
  line-height: 54px;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 1.5rem !important;
  cursor: grab;
  color: #262626;
}
.order-text h5 {
  font-size: 18px;
  font-weight: 500;
  cursor: grab;
  color: #262626;
  line-height: 1.15;
  margin-bottom: 3rem;
}
.order-text a {
  padding: 15px 35px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #262626;
  color: #262626;
  margin-top: 1.5rem !important;
  background-color: transparent;
  text-decoration: none;
  line-height: 1.15;
}
.order-text a:hover {
  color: #fff;
  background-color: #262626;
  filter: brightness(90%);
}

.order-text{
  width: 50%;
}
.oreder-img {
  width: 33%;
}
.oreder-img img {
  width: 100%;
  vertical-align: bottom;
}

.links{
  padding: 5rem 7rem;
}
.link-item{
  display: flex;
  justify-content: space-between;
  
}

.links h2{
  font-size: 32px;
  font-weight: 600;
  padding-bottom: 1.5rem!important;
  color: #262626;
  line-height: 1.15;
}
.link{
  width: 32%;
  background: linear-gradient(90deg,#f5f6f7,#f0f4f9);
  padding-left: 0.25rem!important;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.link-text{
  width: 65%;
  padding: 25px;
 
}

.link-img{
  width: 1%;
}
.link-img img{
  width:120px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.link-text h4{
  font-size: 18px;
  font-weight: 500;
  color: #262626;
  line-height: 1.15;
  margin-bottom: 10px;
}
.link-text p{
  line-height: 21px;
  font-size: 15px;
  font-weight: 400;
  color: #6f7071;
  margin-bottom: 50px;
  height: 60px;
}

.link-text a{
  font-weight: 600;
  border-radius: 6px;
  padding: 12px 16px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  line-height: 1.15;
  background-color: #3b8ae0;
  text-decoration: none;
}
#phone-header{
  display: none;
}
#phone-header .header-top{
  display: flex;
  justify-content: space-between;
}
#phone-header .header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
#phone-header .header-bottom .left{  
  width: 40%;
}
#phone-header .header-bottom .left img{
  
  width: 100%;
}
#phone-header .header-bottom .right i{

  
  font-size: 24px;
  color: #007aff;
}

@media(max-width:576px){
  #header{
    display: none;
  }
  #phone-header{
    display: block;
  }
  .contain{
    padding: 0 1rem;
  }
 .link-item{
  flex-direction: column;
  
 }
 .link-item .link{
  margin-bottom: 1rem;
  width: 100%;  
 }
 .links{
  padding:  2rem ;
 }
 .order-all{
  flex-direction: column;
 }
 .order-text{
  width: 100%;
  text-align: center;
 }
 
}